*{
    margin:0px;
    padding: 0px;
    font-family: segoe UI;
}


.container{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: gray; */
    margin-left: 10%;
}


.padd{
    padding: 20px;
}

.header{
    height: 50px;
    width:100%;
    background-color:rgb(250, 239, 239); 
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.cards{
    width: 100%;
    /* background-color: lightgray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.opened{
    display: none;
}

.card{
    height: 300px;
    width: 18%;
    background-color:salmon;
    margin-top: 20px;
    background-size: cover;
}

.overlay{
    height: 300px;
    width: 100%;
    background-color: rgb(247, 108, 108);
    
}





